<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <onload>ClearProperty(MediaMenu,Home)</onload>
    <onunload>ClearProperty(MediaMenu,Home)</onunload>
    <controls>
        <include>CommonBackground</include>
        <include>Topbar</include>
        <control type="group">
            <include>Animation.Common</include>
            <control type="group">
                <visible>Integer.IsGreater(Container(9000).NumItems,0) + Skin.HasSetting(Enable.SettingsPanelView)</visible>
                <animation effect="fade" time="320" delay="300">Visible</animation>
                <control type="image">
                    <visible>Control.HasFocus(9000)</visible>
                    <left>95</left>
                    <top>220</top>
                    <width>330</width>
                    <height>370</height>
                    <include>FocusedBackgroundFade</include>
                    <texture colordiffuse="$VAR[ColorHighlightVar]" border="5">listselect_fo.png</texture>
                    <animation effect="slide" end="0,390" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,0)">Conditional</animation>
                    <animation effect="slide" end="350,0" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Column,3)">Conditional</animation>
                    <animation effect="slide" end="350,0" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Column,2)">Conditional</animation>
                    <animation effect="slide" end="350,0" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Column,1)">Conditional</animation>
                    <animation effect="slide" end="350,0" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Column,0)">Conditional</animation>
                </control>
            </control>
            <control type="group">
                <visible>Integer.IsGreater(Container(9000).NumItems,0) + !Skin.HasSetting(Enable.SettingsPanelView)</visible>
                <control type="image">
                    <left>175</left>
                    <top>300</top>
                    <width>770</width>
                    <height>120</height>
                    <visible>Control.HasFocus(9000)</visible>
                    <animation effect="fade" time="320" delay="200">Visible</animation>
                    <animation effect="fade" time="50">Hidden</animation>
                    <texture colordiffuse="$VAR[ColorHighlightVar]" border="5">listselect_fo.png</texture>
                    <animation effect="slide" end="800" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Column,0)">Conditional</animation>
                    <animation effect="slide" end="0,120" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,5)">Conditional</animation>
                    <animation effect="slide" end="0,120" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,4)">Conditional</animation>
                    <animation effect="slide" end="0,120" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,3)">Conditional</animation>
                    <animation effect="slide" end="0,120" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,2)">Conditional</animation>
                    <animation effect="slide" end="0,120" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,1)">Conditional</animation>
                    <animation effect="slide" end="0,120" time="300" tween="cubic" easing="inout" condition="Integer.IsGreater(Container(9000).Row,0)">Conditional</animation>
                </control>
            </control>
            <control type="panel" id="9000">
                <animation effect="slide" time="0" tween="sine" easing="inout" start="0,0" end="90,90" condition="!Skin.HasSetting(Enable.SettingsPanelView)">Condition</animation>
                <top>210</top>
                <left>85</left>
                <width>1750</width>
                <height>840</height>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <onleft condition="!Skin.HasSetting(KioskMode.Enabled)">SetProperty(MediaMenu,True,home)</onleft>
                <onleft condition="!Skin.HasSetting(KioskMode.Enabled)">SetFocus(9050)</onleft>
                <onright>9000</onright>
                <preloaditems>2</preloaditems>
                <viewtype label="535">list</viewtype>
                <scrolltime tween="quadratic" easing="out">300</scrolltime>
                <orientation>vertical</orientation>
                <itemlayout height="390" width="350" condition="Skin.HasSetting(Enable.SettingsPanelView)">
                    <control type="group">
                        <include>ThumbnailItemBackground</include>
                        <control type="label">
                            <left>20</left>
                            <right>20</right>
                            <top>327</top>
                            <height>50</height>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                        <control type="image">
                            <left>20</left>
                            <top>20</top>
                            <right>20</right>
                            <height>310</height>
                            <aspectratio scalediffuse="false" align="center" aligny="center">keep</aspectratio>
                            <texture background="true">$INFO[ListItem.Icon]</texture>
                        </control>
                        <control type="image">
                            <top>20</top>
                            <left>20</left>
                            <right>20</right>
                            <height>310</height>
                            <texture border="5">overlays/diffuse-overlay.png</texture>
                        </control>
                    </control>
                </itemlayout>
                <focusedlayout height="390" width="350" condition="Skin.HasSetting(Enable.SettingsPanelView)">
                    <control type="group">
                        <include>ThumbnailItemBackground</include>
                        <control type="label">
                            <left>20</left>
                            <right>20</right>
                            <top>327</top>
                            <height>50</height>
                            <label>$INFO[ListItem.Label]</label>
                        </control>
                        <control type="image">
                            <left>20</left>
                            <top>20</top>
                            <right>20</right>
                            <height>310</height>
                            <aspectratio scalediffuse="false" align="center" aligny="center">keep</aspectratio>
                            <texture background="true">$INFO[ListItem.Icon]</texture>
                        </control>
                        <control type="image">
                            <animation center="auto" condition="Control.HasFocus(9000)" easing="inout" effect="fade" end="0" start="100" time="300" tween="sine">Focus</animation>
                            <animation center="auto" condition="Control.HasFocus(9000)" easing="inout" effect="fade" end="100" start="0" time="300" tween="sine">UnFocus</animation>
                            <top>20</top>
                            <left>20</left>
                            <right>20</right>
                            <height>310</height>
                            <texture border="5">overlays/diffuse-overlay.png</texture>
                        </control>
                    </control>
                </focusedlayout>
                <itemlayout height="120" width="800" condition="!Skin.HasSetting(Enable.SettingsPanelView)">
                    <control type="image">
                        <left>10</left>
                        <top>10</top>
                        <width>100</width>
                        <height>100</height>
                        <aspectratio>keep</aspectratio>
                        <texture background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="label">
                        <left>135</left>
                        <top>3</top>
                        <width>615</width>
                        <height>70</height>
                        <font>font30</font>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="label">
                        <left>135</left>
                        <top>52</top>
                        <width>615</width>
                        <height>60</height>
                        <label>$INFO[ListItem.Label2]</label>
                    </control>
                </itemlayout>
                <focusedlayout height="120" width="800" condition="!Skin.HasSetting(Enable.SettingsPanelView)">
                    <control type="image">
                        <left>10</left>
                        <top>10</top>
                        <width>100</width>
                        <height>100</height>
                        <aspectratio>keep</aspectratio>
                        <texture background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="label">
                        <top>3</top>
                        <left>135</left>
                        <width>615</width>
                        <height>70</height>
                        <font>font30</font>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="label">
                        <left>135</left>
                        <top>52</top>
                        <width>615</width>
                        <height>60</height>
                        <label>$INFO[ListItem.Label2]</label>
                    </control>
                </focusedlayout>
                <include>SettingsListContents</include>
            </control>
        </control>
        <control type="group">
            <left>-440</left>
            <include>SideBladeLeft</include>
            <control type="grouplist" id="9050">
                <visible allowhiddenfocus="true">!Window.IsVisible(1118) + !Control.HasFocus(9013) + !Control.HasFocus(9014)</visible>
                <animation effect="slide" start="-440,0" end="0,0" time="400" tween="quadratic" easing="out">Visible</animation>
                <left>15</left>
                <top>10</top>
                <width>400</width>
                <height>1080</height>
                <onleft>9050</onleft>
                <onright>ClearProperty(MediaMenu,Home)</onright>
                <onright>9000</onright>
                <onup>9050</onup>
                <ondown>9050</ondown>
                <onback>ClearProperty(MediaMenu,Home)</onback>
                <onback>9000</onback>
                <itemgap>0</itemgap>
                <control type="label" id="200">
                    <width>400</width>
                    <height>52</height>
                    <textoffsetx>15</textoffsetx>
                    <font>font13_title</font>
                    <label>31006</label>
                    <textcolor>$VAR[ColorHighlightVar]</textcolor>
                </control>
                <control type="button" id="1802">
                    <label>$LOCALIZE[31906]</label>
                    <label2>$VAR[Settings.Viewmode]</label2>
                    <include>ButtonCommonValues</include>
                    <onclick>SetProperty(viewtypeselect,1,home)</onclick>
                    <onclick>ActivateWindow(1118)</onclick>
                    <visible>!Window.IsActive(musicplaylisteditor)</visible>
                </control>
                <control type="button" id="1897">
                    <description>Fallback</description>
                    <include>ButtonCommonValues</include>
                    <label>31277</label>
                    <onclick>Skin.Reset(ItemToEdit.MultiFanart)</onclick>
                    <onclick>$VAR[FallbackBackgroundOnClickVar]</onclick>
                    <onclick>ActivateWindow(1122)</onclick>
                </control>
                <control type="button" id="203">
                    <description>Actions label</description>
                    <textwidth>352</textwidth>
                    <font>font13_title</font>
                    <include>ButtonCommonValues</include>
                    <label>31039</label>
                    <enable>no</enable>
                    <disabledcolor>$VAR[ColorHighlightVar]</disabledcolor>
                    <visible>!Skin.HasSetting(Disable.Quicknav) | Player.HasMedia | !String.IsEqual(Playlist.Length(music),0) | !String.IsEqual(Playlist.Length(video),0)</visible>
                </control>
                <include>QuicknavButton</include>
                <include>PlaylistButtons</include>
                <include content="MenuPlayerControls">
                    <param name="PlayerControlsOnDown" value="1802" />
                </include>
            </control>
            <include condition="!Skin.HasSetting(Disable.Quicknav)">QuicknavMenu</include>
        </control>
    </controls>
</window>