<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <controls>
        <include>CommonBackground</include>
        <include>Topbar</include>
        <control type="group">
            <include>Animation.Common</include>
            <control type="group">
                <visible>IntegerGreaterThan(Container(9000).NumItems,0)</visible>
                <animation effect="fade" time="320" delay="300">Visible</animation>
                <control type="image">
                    <visible>Control.HasFocus(9000)</visible>
                    <left>95</left>
                    <top>190</top>
                    <width>330</width>
                    <height>370</height>
                    <include>FocusedBackgroundFade</include>
                    <texture colordiffuse="$VAR[ColorHighlightVar]">listselect_fo.png</texture>
                    <animation effect="slide" end="0,390" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Row,0)">Conditional</animation>
                    <animation effect="slide" end="350,0" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Column,3)">Conditional</animation>
                    <animation effect="slide" end="350,0" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Column,2)">Conditional</animation>
                    <animation effect="slide" end="350,0" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Column,1)">Conditional</animation>
                    <animation effect="slide" end="350,0" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Column,0)">Conditional</animation>
                </control>
            </control>
            <control type="panel" id="9000">
                <top>180</top>
                <left>85</left>
                <width>1750</width>
                <height>780</height>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <onleft>9000</onleft>
                <onright>60</onright>
                <preloaditems>2</preloaditems>
                <pagecontrol>60</pagecontrol>
                <viewtype label="21371">list</viewtype>
                <scrolltime tween="quadratic" easing="out">300</scrolltime>
                <orientation>vertical</orientation>
                <itemlayout height="390" width="350">
                    <control type="image">
                        <left>10</left>
                        <top>10</top>
                        <right>10</right>
                        <bottom>10</bottom>
                        <texture colordiffuse="33ffffff">background.png</texture>
                    </control>
                    <control type="label">
                        <left>20</left>
                        <right>20</right>
                        <top>327</top>
                        <height>50</height>
                        <aligny>center</aligny>
                        <font>font13</font>
                        <label>$INFO[ListItem.Label]</label>
                        <textcolor>$VAR[ColorTextVar]</textcolor>
                        <selectedcolor>$VAR[ColorTextVar]</selectedcolor>
                        <visible>![Window.IsActive(pictures) + Skin.HasSetting(PictureInfo.Disabled)]</visible>
                    </control>
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <right>20</right>
                        <height>310</height>
                        <texture colordiffuse="55000000">background.png</texture>
                    </control>
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <right>20</right>
                        <height>310</height>
                        <aspectratio scalediffuse="false" align="center" aligny="center">keep</aspectratio>
                        <texture background="true" fallback="DefaultFolder.png">$VAR[ThumbViewImage]</texture>
                        <visible>!Container.Content(albums) + !Container.Content(artists) + !Container.Content(songs) + !Container.Content(addons)</visible>
                    </control>
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <right>20</right>
                        <height>310</height>
                        <aspectratio scalediffuse="false" align="center" aligny="center">scale</aspectratio>
                        <texture fallback="DefaultAudio.png" background="true">$VAR[ThumbViewImage]</texture>
                        <visible>Container.Content(albums) | Container.Content(artists) | Container.Content(songs)</visible>
                    </control>
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <right>20</right>
                        <height>310</height>
                        <aspectratio scalediffuse="false" align="center" aligny="center">scale</aspectratio>
                        <texture fallback="DefaultAddon.png" background="true">$VAR[ThumbViewImage]</texture>
                        <visible>Container.Content(addons)</visible>
                    </control>
                    <control type="image">
                        <top>20</top>
                        <left>20</left>
                        <right>20</right>
                        <height>310</height>
                        <texture>thumbs/diffuse.png</texture>
                    </control>
                    <include name="OverlayIcons">
                        <param name="OverlayLeft" value="272" />
                        <param name="OverlayTop" value="18" />
                    </include>

                </itemlayout>
                <focusedlayout height="390" width="350">
                    <control type="image">
                        <left>10</left>
                        <top>10</top>
                        <right>10</right>
                        <bottom>10</bottom>
                        <texture colordiffuse="33ffffff">background.png</texture>
                    </control>
                    <control type="label">
                        <left>20</left>
                        <right>20</right>
                        <top>327</top>
                        <height>50</height>
                        <aligny>center</aligny>
                        <font>font13</font>
                        <label>$INFO[ListItem.Label]</label>
                        <selectedcolor>$VAR[ColorTextVar]</selectedcolor>
                        <textcolor>$VAR[ColorTextVar]</textcolor>
                        <visible>![Window.IsActive(pictures) + Skin.HasSetting(PictureInfo.Disabled)]</visible>
                    </control>
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <right>20</right>
                        <height>310</height>
                        <texture colordiffuse="55000000">background.png</texture>
                    </control>
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <right>20</right>
                        <height>310</height>
                        <aspectratio scalediffuse="false" align="center" aligny="center">keep</aspectratio>
                        <texture background="true" fallback="DefaultFolder.png">$VAR[ThumbViewImage]</texture>
                        <visible>!Container.Content(albums) + !Container.Content(artists) + !Container.Content(songs) + !Container.Content(addons)</visible>
                    </control>
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <right>20</right>
                        <height>310</height>
                        <aspectratio scalediffuse="false" align="center" aligny="center">scale</aspectratio>
                        <texture fallback="DefaultAudio.png" background="true">$VAR[ThumbViewImage]</texture>
                        <visible>Container.Content(albums) | Container.Content(artists) | Container.Content(songs)</visible>
                    </control>
                    <control type="image">
                        <left>20</left>
                        <top>20</top>
                        <right>20</right>
                        <height>310</height>
                        <aspectratio scalediffuse="false" align="center" aligny="center">scale</aspectratio>
                        <texture fallback="DefaultAddon.png" background="true">$VAR[ThumbViewImage]</texture>
                        <visible>Container.Content(addons)</visible>
                    </control>
                    <control type="image">
                        <animation center="auto" condition="Control.HasFocus(9000)" easing="inout" effect="fade" end="0" start="100" time="300" tween="sine">Focus</animation>
                        <animation center="auto" condition="Control.HasFocus(9000)" easing="inout" effect="fade" end="100" start="0" time="300" tween="sine">UnFocus</animation>
                        <top>20</top>
                        <left>20</left>
                        <right>20</right>
                        <height>310</height>
                        <texture>thumbs/diffuse.png</texture>
                    </control>
                    <include name="OverlayIcons">
                        <param name="OverlayLeft" value="272" />
                        <param name="OverlayTop" value="18" />
                    </include>
                </focusedlayout>
                <content>
                    <item id="2">
                        <label>$LOCALIZE[480]</label>
                        <icon>DefaultAddonSkin.png</icon>
                        <onclick>ActivateWindow(AppearanceSettings)</onclick>
                    </item>
                    <item id="1">
                        <label>$LOCALIZE[157]</label>
                        <icon>DefaultVideo.png</icon>
                        <onclick>ActivateWindow(MyVideosSettings)</onclick>
                    </item>
                    <item id="3">
                        <label>$LOCALIZE[2]</label>
                        <icon>DefaultAudio.png</icon>
                        <onclick>ActivateWindow(MyMusicSettings)</onclick>
                    </item>
                    <item id="7">
                        <label>$LOCALIZE[19020]</label>
                        <icon>DefaultTVShows.png</icon>
                        <onclick>ActivateWindow(TVSettings)</onclick>
                    </item>
                    <item id="5">
                        <label>$LOCALIZE[1]</label>
                        <icon>DefaultPicture.png</icon>
                        <onclick>ActivateWindow(MyPicturesSettings)</onclick>
                    </item>
                    <item id="4">
                        <label>$LOCALIZE[166]</label>
                        <icon>DefaultIconPlay.png</icon>
                        <onclick>ActivateWindow(skinsettings)</onclick>
                    </item>
                    <item id="8">
                        <label>$LOCALIZE[13000]</label>
                        <icon>DefaultProgram.png</icon>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                    </item>
                    <item id="6">
                        <label>$LOCALIZE[705]</label>
                        <icon>DefaultAddonService.png</icon>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                    </item>
                    <item id="9">
                        <label>$LOCALIZE[24001]</label>
                        <icon>DefaultAddon.png</icon>
                        <onclick>ActivateWindow(AddonBrowser)</onclick>
                    </item>
                    <item id="11">
                        <label>$LOCALIZE[8]</label>
                        <icon>DefaultAddonWeather.png</icon>
                        <onclick>ActivateWindow(MyWeatherSettings)</onclick>
                    </item>
                    <item id="10">
                        <label>$LOCALIZE[13200]</label>
                        <icon>DefaultActor.png</icon>
                        <onclick>ActivateWindow(Profiles)</onclick>
                    </item>
                    <item id="12">
                        <label>$LOCALIZE[19033]</label>
                        <icon>DefaultHardDisk.png</icon>
                        <onclick>ActivateWindow(systeminfo)</onclick>
                    </item>
                </content>
            </control>
        </control>
        <include>Scrollbar_Vertical</include>
    </controls>
</window>