<?xml version="1.0" encoding="UTF-8"?>
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>yes</allowoverlay>
    <controls>
        <include>CommonBackground</include>
        <include>Topbar</include>
        <control type="group">
            <include>Animation.Common</include>
            <control type="image">
                <visible>Control.HasFocus(9000)</visible>
                <left>145</left>
                <top>175</top>
                <width>810</width>
                <height>120</height>
                <animation effect="fade" time="320" delay="200">Visible</animation>
                <animation effect="fade" time="50">Hidden</animation>
                <texture colordiffuse="$VAR[ColorHighlightVar]">listselect_fo.png</texture>
                <animation effect="slide" end="0,140" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Row,4)">Conditional</animation>
                <animation effect="slide" end="0,140" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Row,3)">Conditional</animation>
                <animation effect="slide" end="0,140" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Row,2)">Conditional</animation>
                <animation effect="slide" end="0,140" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Row,1)">Conditional</animation>
                <animation effect="slide" end="0,140" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Row,0)">Conditional</animation>
                <animation effect="slide" end="825,0" time="300" tween="cubic" easing="inout" condition="IntegerGreaterThan(Container(9000).Column,0)">Conditional</animation>
            </control>
            <control type="panel" id="9000">
                <left>145</left>
                <top>175</top>
                <width>1650</width>
                <height>900</height>
                <onleft>9000</onleft>
                <onright>9000</onright>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <itemlayout width="825" height="140">
                    <control type="image">
                        <left>10</left>
                        <top>7</top>
                        <width>100</width>
                        <height>100</height>
                        <info>ListItem.Icon</info>
                        <colordiffuse>$VAR[ColorTextVar]</colordiffuse>
                    </control>
                    <control type="label">
                        <left>165</left>
                        <top>7</top>
                        <width>615</width>
                        <height>60</height>
                        <font>font24_title</font>
                        <textcolor>$VAR[ColorTextVar]</textcolor>
                        <selectedcolor>$VAR[ColorTextVar]</selectedcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="label">
                        <left>165</left>
                        <top>55</top>
                        <width>620</width>
                        <height>51</height>
                        <font>font14</font>
                        <textcolor>$VAR[ColorTextVar]</textcolor>
                        <selectedcolor>$VAR[ColorTextVar]</selectedcolor>
                        <label>$INFO[ListItem.Label2]</label>
                    </control>
                </itemlayout>
                <focusedlayout width="825" height="140">
                    <control type="image">
                        <left>10</left>
                        <top>7</top>
                        <width>100</width>
                        <height>100</height>
                        <info>ListItem.Icon</info>
                        <colordiffuse>$VAR[ColorTextVar]</colordiffuse>
                    </control>
                    <control type="label">
                        <left>165</left>
                        <top>7</top>
                        <width>615</width>
                        <height>60</height>
                        <font>font24_title</font>
                        <textcolor>$VAR[ColorTextVar]</textcolor>
                        <selectedcolor>$VAR[ColorTextVar]</selectedcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="label">
                        <left>165</left>
                        <top>55</top>
                        <width>620</width>
                        <height>51</height>
                        <font>font14</font>
                        <textcolor>$VAR[ColorTextVar]</textcolor>
                        <selectedcolor>$VAR[ColorTextVar]</selectedcolor>
                        <label>$INFO[ListItem.Label2]</label>
                    </control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <label>$LOCALIZE[157]</label>
                        <icon>DefaultVideo.png</icon>
                        <onclick>ActivateWindow(MyVideosSettings)</onclick>
                        <label2>$LOCALIZE[14022] • $LOCALIZE[14086] • $LOCALIZE[24012] • $LOCALIZE[14087]</label2>
                    </item>
                    <item id="2">
                        <label>$LOCALIZE[480]</label>
                        <label2>$LOCALIZE[166] • $LOCALIZE[248] • $LOCALIZE[360]</label2>
                        <icon>DefaultAddonSkin.png</icon>
                        <onclick>ActivateWindow(AppearanceSettings)</onclick>
                    </item>
                    <item id="3">
                        <label>$LOCALIZE[2]</label>
                        <label2>$LOCALIZE[14022] • $LOCALIZE[14086] • $LOCALIZE[620]</label2>
                        <icon>DefaultAudio.png</icon>
                        <onclick>ActivateWindow(MyMusicSettings)</onclick>
                    </item>
                    <item id="4">
                        <label>$LOCALIZE[166]</label>
                        <label2>$LOCALIZE[10000] • $LOCALIZE[31962] • $LOCALIZE[20445]</label2>
                        <icon>DefaultIconPlay.png</icon>
                        <onclick>ActivateWindow(skinsettings)</onclick>
                    </item>
                    <item id="5">
                        <label>$LOCALIZE[1]</label>
                        <label2>$LOCALIZE[108] • $LOCALIZE[31963] • $LOCALIZE[31964]</label2>
                        <icon>DefaultPicture.png</icon>
                        <onclick>ActivateWindow(MyPicturesSettings)</onclick>
                    </item>
                    <item id="6">
                        <label>$LOCALIZE[705]</label>
                        <label2>$LOCALIZE[20187] • $LOCALIZE[33101] • $LOCALIZE[1259]</label2>
                        <icon>DefaultAddonService.png</icon>
                        <onclick>ActivateWindow(ServiceSettings)</onclick>
                    </item>
                    <item id="7">
                        <label>$LOCALIZE[19020]</label>
                        <label2>$LOCALIZE[19019] • $LOCALIZE[19069] • $LOCALIZE[14086] • $LOCALIZE[19043]</label2>
                        <icon>DefaultTVShows.png</icon>
                        <onclick>ActivateWindow(TVSettings)</onclick>
                    </item>
                    <item id="8">
                        <label>$LOCALIZE[13000]</label>
                        <label2>$LOCALIZE[31965] • $LOCALIZE[14095] • $LOCALIZE[14094]</label2>
                        <icon>DefaultProgram.png</icon>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                    </item>
                    <item id="9">
                        <label>$LOCALIZE[24001]</label>
                        <label2>$LOCALIZE[31966] • $LOCALIZE[24038] • $LOCALIZE[24020]</label2>
                        <icon>DefaultAddon.png</icon>
                        <onclick>ActivateWindow(AddonBrowser)</onclick>
                    </item>
                    <item id="10">
                        <label>$LOCALIZE[13200]</label>
                        <label2>$LOCALIZE[20067] • $LOCALIZE[20096]</label2>
                        <icon>DefaultActor.png</icon>
                        <onclick>ActivateWindow(Profiles)</onclick>
                    </item>
                    <item id="11">
                        <label>$LOCALIZE[8]</label>
                        <label2>$LOCALIZE[396] • $LOCALIZE[24000]</label2>
                        <icon>DefaultAddonWeather.png</icon>
                        <onclick>ActivateWindow(MyWeatherSettings)</onclick>
                    </item>
                    <item id="12">
                        <label>$LOCALIZE[19033]</label>
                        <label2>$LOCALIZE[154] • $LOCALIZE[705] • $LOCALIZE[157] • $LOCALIZE[13281]</label2>
                        <icon>DefaultHardDisk.png</icon>
                        <onclick>ActivateWindow(systeminfo)</onclick>
                    </item>
                </content>
            </control>
        </control>
    </controls>
</window>